<a href="https://colab.research.google.com/github/welliver724/danl-m1-hw1-Welliver-Justin.ipynb/blob/main/danl-m1-hw1-Welliver-Justin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# HW1 Q1 - How do you assign the value 5 to a variable named 'x'?
x=5
x

5

In [6]:
# HW1 Q2 - Given lst = [1,2,3,4,5], what does lst[1:4] return?
lst=[1,2,3,4,5]
lst[1:4]

[2, 3, 4]

In [8]:
# HW1 Q3 - How do you create a dictionary with keys "apple", "banana", and "cherry", each with the corresponding values 5, 3, and 7?
fruits = {"apple": 5,"banana": 3,"cherry": 7}
print(fruits)

{'apple': 5, 'banana': 3, 'cherry': 7}

In [31]:
# How to access the value associated with the key "banana"
b = fruits["banana"]
b

3

In [16]:
# HW1 Q4 - The value of the expression below

True and False
#The 'and' function returns True if both statements are True. Since False is not true, this expression will return False.

False

In [17]:
True or False
#The 'or' function will return True if one of the statements in the expression is True. Since True is True, this expression will return True.

True

In [19]:
not (100 == '100' and 25 < 36)
# The not function negates the result of the expression inside the parentheses. 100 == '100' is false, because one is a string and the other is an integer. 25 < 36 is true. Since the expression is False, not False is true.

True

In [24]:
# HW1 Q5 - if-elif-else chain

score = 80

if score > 90:
    print("Well done")
elif 40 <= score <= 90:
    print("Good")
else:
    print("Bad luck")

Good

In [27]:
# HW1 Q6 - Loops
loop = "coding for data analysts"

# Splitting the sentence into words
words = loop.split()

# Printing each word in a successive iteration
for word in words:
    print(word)

coding
for
data
analysts

In [30]:
# HW1 Q7 - Importing Math Module in Pyton script.
import math

#Using the import math square root function
a = math.sqrt(16)
a

4.0

In [ ]:
# HW1 Q8 - Basic and Advanced Syntax

#Basic Syntax
# Name - Justin Welliver
# Heading - Homework Assignment #1
# Unordered List:
# - Apple
# - Peach
# - Blueberry
# Ordered List:
# 1. Apple
# 2. Peach
# 3. Blueberry
# Link - [My LinkedIn](https://www.linkedin.com/in/justinwelliver/)
# Image - ![My Professional Photo](https://media.licdn.com/dms/image/C4E03AQGqRlWQph2MXA/profile-displayphoto-shrink_200_200/0/1606770618682?e=1713398400&v=beta&t=O_vXWw0Gq7B1NWb10365QgUjkCGxpv4_LCJOH9Hnas0)

#Advanced Syntax
#Below is a Python Code block example
''' score = 80

if score > 90:
    print("Well done")
elif 40 <= score <= 90:
    print("Good")
else:
    print("Bad luck") '''

# > "This is an example of a block quote in puthon. Hello World!"
# This is an emoji: '\U0001F44D'